<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Company Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style_bar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
  </head>

  <body>
      <%- include('sgj_bar') %>
    <div class="header" style="background: url(/static/1080377.jpg);">
      <% if (personal[1] === 'company' && personal[0] === result[0]._id)   { %>
        <% var link = "/edit-info/id=" + result[0]._id %>
        <button style="float: right;" type="button" class="btn btn-light"><a style="color: black; text-decoration: none;" href="<%= link %>">Edit Information</a></button> 
      <% } %>      
      <div class="container">
        <div class="row">
            <img src="/static/evely-lyt-squarewhite-4x.jpg" alt="Avatar" class="avatar img-fluid">         
        </div>
      </div>        
      <h2 style="padding-left: 15%;"><%= result[0].company_name %></h2>   
    </div>
   
    <!-- Nav tabs -->
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item active">
        <a class="nav-link active" data-toggle="pill" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#jobs">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#comments">Comments</a>
      </li>
      </ul>
  
    <!-- Tab panes -->
    <div class="jumbotron jumbotron-fluid">
      <div class="tab-content">
        <div class="tab-pane container active" id="home">
          <div class="col-md-3">

            </div>
          </div>

        <div class="tab-pane container fade" id="about">
          <div class="form-row">
            <!-- Company Quickview Section -->
            <%- include('about_and_contact') %>

              <!-- Company Overview Section -->
              <div class="col-md-6">
                <div class="card">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><h2>Overview</h2></li>
                      <li class="list-group-item"><span><%= result[0].overview %></span></li>
                  </ul>
                </div>
            </div>

              <!-- Company Locations Section -->
              <div class="col-md-3">
                <div class="card sticky-top">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h2>Locations</h2></li>
                    <% if(result[0].location_address_1) { %> 
                      <% for(var i =0; i < result[0].location_address_1.length; i++) { %>
                        <li class="list-group-item"><span><%= result[0].location_address_1[i] %></span>
                          <span>, <%= result[0].location_address_2[i] %></span>
                          <span>, <%= result[0].location_state[i] %></span>
                          <span>, <%= result[0].location_city[i] %></span>
                          <span>, <%= result[0].location_nation[i] %></span>
                        </li>
                     <% } %>
                    <% } %>
                    </ul>
                  </div>
              </div>             
          </div>          
        </div>

        <div class="tab-pane container fade" id="jobs">
          <div class="form-row">
              <%- include('about_and_contact') %>
              <div class="col-md-6">
                <% if (jobs.length != 0) { %>
                  <% for (var i = jobs.length - 1; i >= 0 ; i--) { %>
                    <div class="card">
                      <ul class="list-group list-group-flush"> 	
                        <li class="list-group-item"><span style="font-weight: bold; font-size: 25px"><%= jobs[i].job_title %></span> 
                          <% if (personal[1] === 'user') { %>
                            <% if (personal.length > 2) { %>
                              <% var yes = false %>
                              <% for (var j = 2; j < personal.length; j++) { %>
                                <% if (personal[j] == jobs[i]._id) { %>
                                  <% yes = true %>
                                  <% break %>
                                <%  } %>
                              <%  } %>
                              <% if (yes) { %>
                                <div><i class="fa fa-check-circle" style="color: green; float: right;"></i></div>
                              <% } else { %>
                                <div class="add_"><button class="btn add_to_list" id="<%= jobs[i]._id %>" style="float: right; padding: 1px 2px; border: none; background-color: skyblue;"><i class="fa fa-calendar-plus-o" style="font-size: 25px;"></i> Apply </button> </div>
                                <% } %>
                            <% } else {%>
                              <div class="add_"><button class="btn add_to_list" id="<%= jobs[i]._id %>" style="float: right; padding: 1px 2px; border: none; background-color: skyblue;"><i class="fa fa-calendar-plus-o" style="font-size: 25px;"></i> Apply </button> </div>
                            <% } %>
                          <% } %>   
                        </li>                       
                        <li class="list-group-item"><span>Recruiting: <%= jobs[i].num_applicants %> applicants</span></li>
                        <li class="list-group-item"><span>Location: <%= jobs[i].job_location_pick %></span></li>
                        <li class="list-group-item"><span>Receive CVs From: <%= jobs[i].job_cv_date %></span></li>
                        
                        <li class="list-group-item"><span>Tags:
                            <% for (var j = 0; j < jobs[i].job_tags.length; j++) { %>
                              <span><%= jobs[i].job_tags[j] %>; </span>
                            <%  } %>
                           
                        </span></li>
                      </ul>
                    </div>
                    <hr class="short">
                  <%  } %>                       
                 <% } else {%>  
                  <div class="card">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h4>We are not recruiting! Maybe later!</h4></li>
                      </ul>
                    </div>
                  <%  } %>                      
              </div>
              <% if (personal[0] == result[0]._id && personal[1] == 'company') { %> 
                <%- include('job_applicants') %>
              <% } else {%>              
                <%- include('job_fun_facts') %>
              <% } %>
              
          </div>
        </div>
        <div class="tab-pane container fade" id="comments">
        <div class="form-row">
            <%- include('about_and_contact') %>
            <div class="col-md-6">
              <% if (personal[1] === 'user'){ %>
                <% var action_mess = "/add-comment/companyID/" + result[0]._id %>
                <form method="POST" action="<%= action_mess %>">
                  <p>Name</p><input class="form-control" type="text" id="name" name="name" placeholder="Enter Name ..."/ required>
                  <span>Rate</span> <select class="form-control" id="rate" name="rate">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </select>
                    <span>Comment</span>
                    <input type="text" class="form-control" id="body" name="body" placeholder="Enter Comment..." required>
                    <hr>
                    <input style="display: block; margin-left: auto; margin-right: auto" type="submit" class="btn btn-primary" value="Add Comment" >
                </form>
                <hr>
                <% } %>
              
                    <% if (result[0].rate.length != 0) { %>
                      <% for (var i = result[0].rate.length - 1; i >= 0; i--) { %>
                        <div class="card">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h2><%= result[0].rate[i].name %></h2></li>                       
                            <li class="list-group-item"><span><%= result[0].rate[i].rate %> ★</span></li>
                            <li class="list-group-item"><span><%= result[0].rate[i].body %></span></li>                        
                          </ul>
                        </div>
                        <hr class="short">
                      <%  } %>                       
                     <% } else {%>  
                      <div class="card">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h4>No comment to view yet!</h4></li>
                          </ul>
                        </div>
                      <%  } %>                
            </div>
          <%- include('job_fun_facts') %>
        </div>
      </div>
    </div>
    </div>
    <%- include('sgj_footer') %>
    
  </body>
  <script src="/static/script_B.js"></script>
</html>


