<div class="col-md-3">
    <div class="sticky-top">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">Applicants </h2>
                </div> 
            </div>             
            <% if (jobs !== undefined)  { %>
               <% for (var i = jobs.length - 1; i >= 0; i--) { %>
                    <% var collapse = "collapse" + i %>
                    <% var collapse1 = "#collapse" + i %>
                    <% var this_id = "heading" + i %>
                    <div class="card">
                            <div class="card-header" id="<%= this_id %>">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="<%= collapse1 %>" aria-expanded="false" aria-controls="<%= collapse %>">
                                    <%= jobs[i].job_title %>
                                </button>
                            </h2>
                            </div>
                            <div id="<%= collapse %>" class="collapse" aria-labelledby="<%= this_id %>" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <% if (jobs[i].applicants !== undefined && jobs[i].applicants.length != 0)  { %>
                                            <% for (var j = jobs[i].applicants.length - 1; j >= 0 ; j--)  { %>
                                                <% var link = "/profile/role/user/userID/" + jobs[i].applicants[j].id %>
                                                <li class="list-group-item"><a href="<%= link %>" target="_blank">Applicant <%= j + 1 %></a><p> Applied: <%=jobs[i].applicants[j].date %></p></li>
                                            <% } %>
                                        <% } else { %>
                                            <li class="list-group-item"><span>No Applicants Yet</span></li>
                                        <% } %>                                        
                                    </ul>
                                </div>
                        </div>
                     </div>     
                <% } %>
            <% } %>   
        </div>
    </div>
</div>     


