<!DOCTYPE html>
<html lang="vi">

<head>
    <title>SaigonJobs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style_K.css">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>   
        <%- include('sgj_bar') %>
        <div class="form-row">
          <div class="form-group col-md-3"></div>
          <div class="form-group col-md-9">
            <div class="card" style="width: 50rem;">
                  <div class="card-body">
                    <h4 class="card-title">Profile</h4>
                  <ul class="list-group list-group-flush">
                    <article class="item">
                    <li class="list-group-item">Family name: <%= result[0].familyname %></li>
                    <li class="list-group-item">Given name: <%= result[0].givename %> </li>
                    <li class="list-group-item">Gender: <%= result[0].gender %> </li>
                    <li class="list-group-item">DoB: <%= result[0].dob %> </li>
                    <li class="list-group-item">Address: <%= result[0].address %> </li>
                    <li class="list-group-item">Phone: <%= result[0].phonenumber %> </li>
                    <li class="list-group-item">Academic level: <%= result[0].academiclv %> </li>
                    <li class="list-group-item">Graduated: <%= result[0].graduate %> </li>
                  </article>
                    </ul>
                </div>
                <p></p>
                <% if (personal[0] == result[0]._id && personal[1] === result[0].role) { %>
                    <% var link = "/edit_user_profile/id/" + result[0]._id %>
                    <div class="col-md-4">                        
                        <a href="<%= link %>" class="btn btn-info btn-lg" role="button"
                            style="display: block;">  Edit </a>
                   </div>
                <% } %>                
          </div>
        </div>
    </div>
    <%- include('sgj_footer') %>
</body>
